{{ with .AdminData }}
-- This is some arcane-undocumented stuff:

-- http://www.dba-oracle.com/t_multi_tenant_local_common_users.htm
-- Since this isn't relevant to the exam I'm taking, I'm going to just
-- let it cast it's dark magic and move on in the hopes that nothing
-- goes sideways.
{{/*ALTER SESSION SET "_ORACLE_SCRIPT"=true;*/}}
ALTER SESSION SET container={{ .PrimaryPDB }};
{{/*CONNECT sys/{{ .OraclePassword }}@//localhost:1521/{{ .PrimaryPDB }}*/}}

CREATE USER studentadmin IDENTIFIED BY {{ .AdminPassword }};
GRANT UNLIMITED TABLESPACE TO studentadmin;
GRANT ALL PRIVILEGES TO studentadmin;

CREATE USER student IDENTIFIED BY {{ .UserPassword }};
GRANT UNLIMITED TABLESPACE TO student;
GRANT CREATE SESSION TO student;
GRANT CREATE TABLE TO student;
{{ end }}