{{ with .SimpleData }}

CREATE USER simpledata IDENTIFIED BY {{ RandomPassword }} DEFAULT TABLESPACE USERS TEMPORARY TABLESPACE TEMP PROFILE DEFAULT QUOTA UNLIMITED ON USERS;

CREATE TABLE simpledata.simpledata (
    id NUMBER(9) PRIMARY KEY,
    text VARCHAR2(20)
);
CREATE SEQUENCE simpledata.simpledata_pk_sequence;

{{ range .Items }}
INSERT INTO simpledata.simpledata (id, text)
VALUES (simpledata_pk_sequence.nextval, '{{ . }}');
{{ end }}

{{ end }}